
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <CENTER><img align="middle" src="~/Images/slashiobannerhigh.png" width="30%" height="28%"></CENTER>
        </div>

    </div>

</div>