<!-- Banner -->
<section id="banner">
    <div class="content">
        <h1><b>Create your own post/comment game for Facebook</b></h1>
        <p>SlashIo provides an user friendly interface for building<br /> social activity games for Facebook</p>
        <h2>Click below to get started!</h2>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">Let's go!</a></li>
        </ul>
    </div>
</section>